/node_modules
/public/hot
/public/images/seals/*
/public/pdftest.html
/public/transaction-pdftest.html
/public/tmp-quotations/*
public/tmp-quotations/*
public/transaction-pdftest.html
/storage/debugbar
/storage/*.key
/storage/logs
/vendor
/wordpress
/.vscode
.env
.env.circleci
.env.backup
.phpunit.result.cache
.tmp
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/css/layout.min.css
public/css/utility.min.css
public/css/app.min.css
public/css/common.min.css
public/css/contact/unassigned-list.min.css
public/css/app.min.css
public/css/common.min.css
public/css/contact/unassigned-list.min.css
playwright-report
test-results

# Terraform
terraform*/.terraform/
terraform*/terraform.tfstate
terraform*/terraform.tfstate.backup
terraform*/terraform.tfvars
terraform*/*.tfplan