@charset "UTF-8";
@import "../variables";
@import "../utility";

.form-check-input {
    margin-top: 0.6rem;
}
@media only screen and (min-width: 641px) {
    .remodal {
        max-width: 1200px;
    }
}

.dropzone .dz-preview .dz-image {
    width: 80%;
    margin: auto;
}
.dropzone .dz-preview {
    width: 80%;
}
