@charset "UTF-8";
@import "../variables";
@import "../utility";

/*=========== 材料見積もり ===========*/
.alert-top {
    position: fixed;
    top: 10vh;
    z-index: 9999;
    left: 15vw;
}
.loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(300% + 1000px);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    & i {
        margin-top: 300px;
        color: #fff;
    }
    &__message {
        position: absolute;
        top: 46vh;
        z-index: 9999;
        color: white;
        font-size: 22px;
        font-weight: bold;
    }
}
#total-cut-price {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

table,
th,
tr,
td {
    border: none;
}
.table td {
    font-size: 0.8rem;
    vertical-align: middle;
    padding: 0.45rem;
    & .material-product-select{
      min-width: 14rem;
    }
    & .material-product-count{
      width: 3rem;
    }
    & .unit{
      width: 3rem;
    }
    & .material-unit-price{
      width: 5rem;
    }
    & .material-price{
      width: 6rem;
    }
    & .memo{
      min-width: 18rem;
    }
}
.form-control {
    font-size: 0.8rem;
}
/*
.handle {
    cursor: pointer;
}
.form-group {
    margin-bottom: 0;
}

.quotation-target {
    border-bottom: 1px solid #ccc;
}

.company-wrapper {
    position: relative;
    &__info {
        font-size: 0.9rem;
    }
    &__seal {
        position: absolute;
        top: 3rem;
        right: 3rem;
        height: 4rem;
    }
}

.culc-wrapper {
    background-color: #f0f0f0;
}

.plus-button {
    font-size: 1.2rem;
    cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.memo {
    width: 100%;
}

.card {
    padding: 1rem;
}
//========= タブレットの場合 card のパディングを減らす ==============
@media only screen and (max-width: 1280px) {
    .card {
        padding: 10px;
    }
}

.article {
    position: relative;
}
*/