@charset "UTF-8";
@import "../variables";

.product-edit {
    &__input-text {
        margin-bottom: 0;
    }
    &__input-num {
        width: 8rem;
    }
    &__input-num-unit {
        font-size: 1.1rem;
        margin-left: 0.5rem;
    }
}
.common-table-stripes-column__td {
    padding: 10px;
}
.common-table-stripes__td {
    padding: 10px;
}
.form-control--p {
    font-size: 1.2rem;
    height: 3rem;
    line-height: 2.75;
}