@charset "UTF-8";
@import "../variables";

.stock-label {
    font-size: 1rem;
    width: 5rem;
    text-align: right;
    margin-left: 1rem;
    margin-right: 0;
}
.stock-input {
    width: 7rem;
    margin-right: 1rem;
}

.btn-stock {
    width: 50px;
    height: 50px;
    &--mini {
        width: 20px;
        height: 20px;
    }
}

.common-table-stripes-column__tr {
    line-height: 3rem;
}
.common-table-stripes-column__td--stock {
    margin: 3% 0;
}
.common-table-stripes-column {
    & th {
        width: 20rem;
        font-size: 1.1rem;
    }
}
