@charset "UTF-8";
@import "../variables";

table {
    border-collapse: collapse;
    table-layout: fixed;
}
.common-table-stripes-column {
    & th {
        font-size: 1.2rem;
        width: 12rem;
    }
    & td {
        font-size: 1.1rem;
    }
}
.common-table-stripes-item {
    padding: 1.5rem;
}