@import "../variables";
@import "../utility.scss";
//詳細のページのデザイン

.register-date-time {
    cursor: pointer;
}

.desired {
    line-height: 2;
}
.comment {
    line-height: 2;
}

.alert-font {
    font-weight: bolder;
    text-align: center;
    font-size: 1.2rem;
}
