@import "../variables";
@import "../utility.scss";
//編集ページのデザイン

.common-table-stripes-column {
    &__input {
        width: 15rem;
    }
}
.common-table-stripes-column {
    &__input {
        width: 15rem;
    }
}
.common-table-stripes-column__td {
    padding: 10px;
}
.common-table-stripes__td {
    padding: 10px;
}

.uploader {
    position: relative;
    padding: 10px;
    margin: 10px;
    background: white;
    border: dotted 3px #999;
    width: 45%;
    height: 125px;
}
.image-uploader {
    position: relative;
    padding: 5px;
    margin: 5px;
    background: white;
    border: dotted 3px #999;
    width: 30%;
    cursor: pointer;
    &__label{
        position: absolute;
        left:10px;
        top: 10px;
        font-weight: bold;
        text-shadow:1px 0 5px #FFF;
        cursor: pointer;
    }
    &__image{
        width: 100%;
        object-fit: cover;
        cursor: pointer;
    }
}

.js-image-remove {
    position: absolute;
    right: 10px;
}
.fa-times {
    text-shadow: 0px 0px 2px black;
}
