@import "../variables";
@import "../utility.scss";
//電話受付ページのデザイン
.common-table-stripes-column {
    &__input {
        width: 15rem;
    }
}
.common-table-stripes-column {
    &__input {
        width: 15rem;
    }
}
.common-table-stripes-column__td {
    padding: 10px;
}
.common-table-stripes__td {
    padding: 10px;
}
.buttons {
    margin-top: 2rem;
    text-align: right;
}
.form-control--p {
    font-size: 1.2rem;
    height: 3rem;
    line-height: 2.75;
}
.use-item {
    margin-right: 7px;
    font-size: 1.1rem;
}
//本部からのサンプル送付を希望しない場合のlabel部分
.form-check-label-sample{
    cursor: pointer;
}

.form-select-type{
    display: none;
}

.form-select-label:hover{
    background-color: white;
}

.inline-radio {
	display: flex;
	overflow: hidden;

	div {
		position: relative;
		flex: 1;
	}
	input {
        width: 100%;
	}

	label {
		position: absolute;
		top: 0; left: 0;
		color: #b6b6b6;
		width: 100%;
		height: 100%;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
	}

	input:checked + label {
		background: #3657a6;
        font-weight: 500;
		color: #FFF;
	}
}
.uploader {
    position: relative;
    padding: 10px;
    margin: 10px;
    background: white;
    border: dotted 3px #999;
    width: 45%;
    height: 125px;
}

.js-image-remove {
    position: absolute;
    right: 10px;
}
.fa-times {
    text-shadow: 0px 0px 2px black;
}
