@charset "UTF-8";

/*================
  * colors
================*/

* p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

body {
  background-color: #dcdcdc;
}

#app {
  margin: 1vh;
}

.header {
  height: 6vh;
  background-color: #dcdcdc;
  margin-bottom: 1vh;
  padding: 0.5rem 0;
}

.header-right {
  margin: 0 0 0 auto;
}

.header-right i {
  margin: 0 1rem;
}

.header-right__menu {
  padding: 0 1rem;
}

.header-left {
  height: 6vh;
  margin-bottom: 0.2vh;
  padding: 0.5rem 0;
  align-items: center;
}

.header-left__title {
  margin: 0 0 0 0.5rem;
}

.header-left__shintou-logo {
  height: 100%;
  margin: auto 0 auto 0.3rem;
}

.header-left h1 {
  color: #000;
  font-size: 1.3rem;
  font-weight: 600;
}

.header-right__company {
  font-size: 1.2rem;
}

.header-right__icon-wrapper {
  background-color: #3657a6;
  border-radius: 50%;
  width: 2.7rem;
  height: 2.7rem;
  cursor: pointer;
}

.header-right__icon-wrapper--square {
  border-radius: 5px;
  cursor: pointer;
}

.header-right__icon {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.header-right__circle {
  position: relative;
}

.header-right__circle-notification {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 5px;
  background-color: #dc0011;
  color: #fff;
  width: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

.info-circle-contents {
  display: none;
  position: absolute;
  overflow: scroll;
  z-index: 100;
  top: 60px;
  right: 0;
  min-height: 10rem;
  max-height: 20rem;
  width: 20rem;
  border: solid 2px #669ccd;
  padding: 0.5rem;
  background-color: #fff;
}

.info-circle-contents::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #669ccd transparent;
  content: "";
  position: absolute;
  top: -20px;
  right: 7px;
}

.info-circle-contents__item {
  display: block;
  margin-bottom: 15px;
}

.info-circle-contents__item:hover {
  text-decoration: underline;
}

.footer {
  height: 6vh;
  background-color: #dcdcdc;
  align-items: flex-end;
}

main.main {
  display: flex;
  height: 84vh;
  margin-bottom: 1vh;
}

main.main .asaide {
  width: 20rem;
}

main.main .article {
  flex: 1;
  height: auto;
  background-color: #dbdbdb;
  overflow: scroll;
}

.sidebar-list {
  list-style: none;
  padding-inline-start: 0;
  height: 100%;
  overflow: scroll;
}

.sidebar-list-menu-items {
  display: none;
  list-style: none;
  padding-inline-start: 0.3rem;
  color: #669ccd;
}

.sidebar-list-menu-items__li {
  margin: 0.4rem;
  padding: 0 0.5rem;
  background-color: #fff;
  cursor: pointer;
  position: relative;
}

.sidebar-list-menu-items__li i {
  margin-right: 0.3rem;
}

.sidebar-list-menu-items__li a {
  display: block;
  line-height: 3;
  height: 100%;
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebar-list-menu__title {
  display: block;
  color: #fff;
  font-size: 1.2rem;
  background-color: #669ccd;
  padding: 1rem;
  margin: 0 1rem 0.5rem 0;
  cursor: pointer;
}

.sidebar-list-menu__title-2nd {
  display: block;
  font-size: 1.2rem;
  margin: 0.4rem;
  padding: 1rem 0.5rem;
  height: 100%;
  background-color: #3657a6;
  color: #fff;
  cursor: pointer;
}

.sidebar-list-menu__space {
  height: 12rem;
}

.sidebar-list-menu-items__li-badge {
  position: absolute;
  font-size: 1rem;
  top: -4px;
  right: -0.3rem;
  padding: 0 0.4rem;
  line-height: 1.5;
  border-radius: 0.7rem;
  color: #fff;
  background-color: #59ca4a;
}

.sidebar-list-menu-items__li-badge-top {
  color: #fff;
  background-color: #59ca4a;
  padding: 0.3rem;
  border-radius: 0.8rem;
  font-size: 1rem;
}

.sidebar-article-wrapper {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
}

.sidebar-article__icon {
  background-color: #669ccd;
  position: absolute;
  top: 10px;
  right: 1em;
  font-size: 2em;
}

.sidebar-article__num {
  position: absolute;
  right: 2.75em;
  color: #dc0011;
  font-weight: bold;
}

.uploader {
  position: relative;
}

.js-file {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.js-image-remove {
  z-index: 3;
  cursor: pointer;
}

.alert-top {
  position: fixed;
  top: 10vh;
  z-index: 9999;
}

/*============= ここからハンバーガーメニュー（スライド出し入れ部分） ===============*/

.block-sidebar-hide {
  display: none;
}

article {
  padding-top: 20px;
  padding: 30px;
}

@media only screen and (max-width: 1280px) {
  .none-sidebar {
    display: none;
  }

  .block-sidebar {
    display: block;
  }

  .header-left__title {
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 0.3rem;
  }

  article {
    padding: 5px !important;
  }
}

/*チェックボックス非表示*/

.nav-unshown {
  display: none;
}

#nav-open span,
#nav-open span:before,
#nav-open span:after {
  position: absolute;
  height: 3px;
  /*線の太さ*/
  width: 25px;
  /*長さ*/
  border-radius: 3px;
  background: #555;
  display: block;
  content: "";
  cursor: pointer;
}

#nav-open span:before {
  bottom: -8px;
}

#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/

#nav-close {
  display: none;
  /*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;
  /*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

/*中身*/

#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  /*最前面に*/
  width: 90%;
  /*右側に隙間を作る*/
  max-width: 330px;
  /*最大幅*/
  height: 100%;
  background: rgba(255, 255, 255, 0.5019607843);
  /*背景色*/
  transition: 0.3s ease-in-out;
  /*滑らかに表示*/
  transform: translateX(-105%);
  /*左に隠しておく*/
  padding-top: 0.5rem;
  /*サイドバー上側のパディング*/
}

/*チェックが入ったらもろもろ表示*/

#nav-input:checked ~ #nav-close {
  display: block;
  /*カバーを表示*/
  opacity: 0.5;
}

#nav-input:checked ~ #nav-content {
  transform: translateX(0%);
  /*中身を表示*/
  box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
}

/*============= ここまでハンバーガーメニュー（スライド出し入れ部分） ===============*/

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(300% + 1000px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
}

.loader i {
  margin-top: 300px;
  color: #fff;
}

.loader__message {
  position: absolute;
  top: 46vh;
  z-index: 9999;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

