@charset "UTF-8";
@import "../variables";

.inline-radio {
	display: flex;
	overflow: hidden;
	div {
		position: relative;
		flex: 1;
        line-height: 3;
	}
	input {
        width: 100%;
	}
	label {
		position: absolute;
		top: 0; left: 0;
		color: #999;
		width: 100%;
		height: 100%;
		background: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		pointer-events: none;
	}
	input:checked + label {
		background: #3657a6;
        font-weight: 500;
		color: #FFF;
	}
}

// テーブルタグのカラム固定
.fixed-column, th:first-child, th:nth-child(2), td:first-child, td:nth-child(2) {
  position: sticky;
  left: 0;
  &:before{
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
  }
}
#result {
	overflow: visible;
}
.jsgrid-grid-header{
  margin-right: -28px;
}
.jsgrid-grid-body{
  margin-right: -35px;
}
/* macでスクロールバーを常に表示する */
.jsgrid-grid-body::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
.jsgrid-grid-body::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgba(0,0,0,.3);
	box-shadow: 0 0 1px rgba(255,255,255,.5);
}