@import "../variables";
@import "../utility.scss";
//施工完了報告ページのデザイン

.title {
    font-size: 2rem;
}
.sub-title {
    font-size: 1.5rem;
}
.form-input {
    margin-bottom: 1rem;
    background-color: $light-gray;
    &__body {
        height: 18rem;
        padding: 1rem;
    }
    &__body-img {
        position: relative;
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__calendar {
        width: 9rem;
        text-align: center;
    }
    img {
        width: 100%;
        max-width: 18rem;
        max-height: 100%;
        object-fit: contain;
    }
    .image-remove {
        text-align: right;
    }
    .js-image-remove {
        top: 10px;
        right: 10px;
        & i {
            text-shadow: 0px 0px 2px $white;
        }
    }
}

.form-check.active {
    // background-color: cornflowerblue;
    background-color: $info;
}
.public-label{
    border-bottom: 2px solid cadetblue;
}